<template>
<div id="main_content_hackers"> hackers
     <div id="card_hacker">
            <div id="imghk">
                 <input type="image" src="" alt="">
            </div>
            <div id="contenhk">
                <h2>contenido perfil</h2>
                <div id="Proyects">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                </div>
                <a id='hack_contact' href="#">Contactar</a>
            </div>
     </div>

</div>    
<template>