<template>
	<div class="story-item">
		<div class="story-item__badge">
			<div class="story-badge__form"> 
                <div class="story-form__icon fa fa-newspaper-o fa-3x" ></div>
            </div>
		</div>
		<div class="story-item__detail">
			<div class="story-detail__title"></div>
			<div class="story-detail__link"></div>
			<div class="story-detail__meta">
				<span class="story-meta__author"></span>
                &middot;
				<span class="story-meta__date"></span>
			</div>
			<div class="story-detail__description"></div>
		</div>
	</div>
</template>
