p {
	text-align: justify;
	text-justify: inter-word;
	line-height: 2;
	letter-spacing: 1px;
}

#main {
	height: 100vh;
	overflow: hidden;
	background-image: url('../media/background.png');
	background-color: var(--dark-background);
	background-position: center;
}

.background {
	position: absolute;
	height: 100%;
	width: 100%;
}

#main-title {
	display: flex;
	align-items: center;
	height: 5rem;
	padding: 2rem;
	font-family: var(--title-font-family);
	text-align: center;
	color: var(--dark-text-content);

	width: 100%;
	min-width: 0;
}

#main-title > div {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 2rem;
	min-height: 2rem;
	cursor: pointer;
	width: 4rem;
}

.main-title__gap {
	margin: auto;
	min-width: 0;
}

.main-button__context {
	border-radius: 50%;
	max-height: 4rem;
	display: flex;
	align-items: center;
	padding: 0.5rem;
	cursor: pointer;
	box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#main-container {
	font-family: var(--content-font-family);
	color: var(--main-content-color-dark);

	display: flex;
	flex-flow: row wrap;

	position: relative;
	height: 85%;
}

#main-container__sidebar {
	/* Alignment */
	flex: 1;
}

#main-container__content {
	height: 100%;
	padding: 2rem;
	overflow-y: scroll;
	flex: 2;
	margin-top: 2rem;
	margin-bottom: 2rem;
	background-color: var(--dark-background);
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
		0px 2px 2px 0px rgba(0, 0, 0, 0.14),
		0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

#colective-mention {
	color: var(--main-sidebar-color-pink);
}

#main-container__leftover {
	/* Alignment */
	flex: 1;
}

#main-header {
	display: flex;
	flex-grow: row nowrap;
	top: 0;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
		0px 2px 2px 0px rgba(0, 0, 0, 0.14),
		0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

#main-header__logo {
	flex: 3 0 8.2%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#logo__text {
	font: var(--text-logo);
	color: var(--dark-headers);
	letter-spacing: 2px;
}

#main-header__gap {
	flex: 3 0 8.2%;
}

#main-header__menu {
	flex: 5 0 8.2%;
	display: flex;
	flex-flow: row nowrap;

	font-family: var(--title-font-family);
	color: var(--dark-headers);
	font-size: var(--small-title-font-size);
	text-align: center;
}

#main-header__menu > span {
	flex: 1 0 20%;
	cursor: pointer;
}

.sidebar-home {
	width: 5rem;
	height: 100vh;
	position: relative;
	background-color: var(--main-sidebar-color-pink);
}

.sidebar-notice {
	width: 5rem;
	height: 100vh;
	position: relative;
	background-color: var(--main-sidebar-color-pis);
}

.sidebar-proyects {
	width: 5rem;
	height: 100vh;
	position: relative;
	background-color: var(--main-sidebar-color-blue);
}

.sidebar-nav__list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.sidebar-nav__list:last-child {
	margin-top: auto;
}

.sidebar-link {
	display: flex;
	align-items: center;
	height: 5rem;
	color: var(--main-sidebar-icon-white);
	text-decoration: none;
}
