@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Lato&display=swap');

p {
	text-align: justify;
	text-justify: inter-word;
	line-height: 1.8;
}

#main {
	height: 100vh;
	background-color: var(--main-background-color-dark);
	overflow: hidden;
}


#main_title {
	font-family: var(--title-font-family), cursive;
	text-align: center;
	font-size: var(--main-title-font-size);
	color: var(--main-title-color-dark);
}

#main_content__container {
	font-family: var(--content-font-family), sans-serif;
	color: var(--main-content-color-dark);

	display: flex;
	flex-flow: row wrap;

}

#content_container__sidebar {
	/* Alignment */
	flex: 1;
}

#main_content {
	height: 100%;

	overflow-y: scroll;
	flex: 2;
}

#colective-mention {
	color: var(--main-sidebar-color-pink);
}

#content_container__leftover {
	/* Alignment */
	flex: 1;
}

#navigation-bar {
	font-family: var(--title-font-family), cursive;
	color: var(--main-title-color-dark);
	font-size: var(--small-title-font-size);
	text-align: center;
	padding: var(--navigation-bar-padding);
}

#navigation-bar > span {
	padding: var(--navigation-bar-elements-padding);
	cursor: pointer;
}

.sidebar-home {
	width: 5rem;
	height: 100vh;
	position: relative;
	background-color: var(--main-sidebar-color-pink);
}

.sidebar-notice {
	width: 5rem;
	height: 100vh;
	position: relative;
	background-color: var(--main-sidebar-color-pis);
}

.sidebar-proyects {
	width: 5rem;
	height: 100vh;
	position: relative;
	background-color: var(--main-sidebar-color-blue);
}

.sidebar-nav-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.sidebar-nav-list:last-child {
	margin-top: auto;
}

.sidebar-link {
	display: flex;
	align-items: center;
	height: 5rem;
	color: var(--main-sidebar-icon-white);
	text-decoration: none;
}
